.corpocad {
  min-height: 100vh;
  background-color: #08372c;
  font-family: sans-serif;
  display: grid;
  place-items: center;
}

p {
  font-size: 1.3125rem;
  font-weight: 700;
  color: #222;
  margin-bottom: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 28rem;
  background-color: #fff;
  padding: 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

label {
  width: 100%;
  color: #777;
  align-self: flex-start;
  transition: 0.15s linear;
}

label:focus-within {
  color: #093e32;
}

input {
  font-size: 1.1875rem;
  color: #404040;
  padding: 1rem 0 0.5rem 0;
  width: 100%;
  border: none;
  border-color: #a0a0a0;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  margin-bottom: 3rem;
  transition: 0.15s linear;
}

input:focus {
  outline: none;
  border-color: #093e32;
}

.botãocad {
  font-size: 0.8125rem;
  line-height: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 1rem 2rem;
  cursor: pointer;
  background: transparent;
  color: #093e32;
  border: 1px solid currentColor;
  border-radius: 4px;
  margin-top: 0.5rem;
  transition: 0.25s;
}

.botãocad:hover,
.botãocad:focus {
  outline: none;
  background: #093e32;
  color: #fff;
}

.linq {
  text-decoration: none;
  color: #093e32;
  font-size: 0.875rem;
  font-weight: 600;
  transition: 0.3s;
}

.linq:hover,
.linq:focus {
  outline: none;
  color: #000;
}

.linq:first-of-type {
  margin-top: 3rem;
}

.link + .linq {
  margin-top: 1.125rem;
}

@media (max-width: 768px) {
  p {
    font-size: 1.125rem;
    margin-bottom: 3rem;
  }

  form {
    padding: 2rem;
    max-width: 90%;
  }

  .botãocad {
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
  }

  .linq {
    font-size: 0.75rem;
  }
}
